.container {
    background-color: rgb(51, 49, 49);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 10px;
    transition: all 1s ease;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 135px;
    transform: rotateX(-180deg);
    transform-origin: top;
}

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 0 10%;
}

.bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-box span {
    border: 2px #fffffd dashed;
    width: 25%;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}

.airline {
    font-size: 2rem;
}

.airline img {
    width: 120px;
    height: 40px;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.location-time-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.location-time-date span:nth-child(odd){
    font-size: 1.3rem;
    color: rgb(149, 147, 147)
}

.location-time-date span:nth-child(even){
    font-size: 2.3rem;
    font-weight: 500;
    color: #fffffd;
}

.airplane-image img{
    display: block;
    width: 30px;
    height: 30px;
}

.container-isClicked {
    transform: rotateX(0deg);
    transform-origin: bottom; 
    border-top: 3px dashed gray;
    border-bottom: 1px rgb(47, 46, 46) dashed;
    z-index: 3;
}