.container {
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  overflow: hidden;
  width: 32%;
  height: 130px;
  transition: height 1s ease;
  position: relative;
}

.container-isClicked {
  height: 260px;
}

@media only screen and (min-width: 930px) and (max-width: 1200px){
	.container {
    width: 49%;
  }
}

@media only screen and (max-width: 930px){
	.container {
    width: 100%;
  }
}
